**/node_modules
**/dist
**/build
**/.next
**/.vercel
.git
.gitignore
*.log
.env
.env.*
README.md
HUONG_DAN_THI_CONG.md
tmp
brain
.gemini
pkg
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
